[build]
  command = "npm install"
  publish = "."

[functions]
  directory = "api"

[[redirects]]
  from = "/api/*"
  to = "/api/:splat"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
